{% extends "base.html" %}

<!-- Title -->
{% block title %}Stock Ticker{% endblock %}

{% block head_scripts %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.0.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.0.0.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.0.0.min.js"
        crossorigin="anonymous"></script>
{{ plots_script|safe }}
{% endblock %}
{% block content %}

    <!-- User input space -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <form action="{{ url_for('read_form') }}" id="form" method="POST">
            <b>Stock Name:</b> (separate multiple names by ',')<br>
            <input type="text" id="sname" name="sname" placeholder="e.g. GOOG or MSFT" value={{ symbols }}><br>
            <br>
            <b>Major indices to include:</b><br>
            <input type='checkbox' name='djia'   value='True' unchecked> Dow Jones Industrial Average<br>
            <input type='checkbox' name='sp500'  value='True' unchecked> S&P 500<br>
            <!-- Currently not working
            <input type='checkbox' name='nasdaq' value='True' unchecked> NASDAQ Composite<br>
            -->
            <br>
            <b>Information to plot:</b> <i>(Ignored for single stock plots)</i><br>
            <input type="radio" id="open"     name="plotinfo" value="open"> Open<br>
            <input type="radio" id="close"    name="plotinfo" value="close"> Close<br>
            <input type="radio" id="closeAdj" name="plotinfo" value="closeAdj" checked> Adjusted Close<br>
            <input type="radio" id="high"     name="plotinfo" value="high"> High<br>
            <input type="radio" id="low"      name="plotinfo" value="low"> Low<br>
            <input type="radio" id="volume"   name="plotinfo" value="volume"> Volume<br>
            <br>
            <b>Color blind friendly: </b>
            <input type='checkbox' name='colorblind' value='True' {{ cbf }}><br>
            This option replaces red/green with orange/blue to denote <br>
            stock value decreases/increases. <i>Only for single stock plots.</i><br>
            <br>
            <button type="submit" value="Submit">Submit</button>
            <button type="reset" value="Reset">Reset</button>
          </form>
        </div>
      </div>  
    </div>
    <!-- Show some actual graphs -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          {{ plots_div|safe }}
        </div>
      </div>  
    </div>
    <!-- Simple footer -->
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <footer>
            <p>© 2020 J. V. Cardenzana</p>
            <p>This app made possible by viewers like you</p>
          </footer>
        </div>
      </div>  
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% endblock %}